<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title size="large">eventual-consistent-spreadsheet</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <ion-toggle [(ngModel)]="connectionEnabled">
          <ion-title>Global coordination</ion-title>
        </ion-toggle>
      </ion-col>
      <ion-col>
        <ion-title>Remote nodes: {{clusterSize}}</ion-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto">
        <ion-title class="ion-padding-top">{{currentCell.colIndex}}|{{currentCell.rowIndex}}</ion-title>
      </ion-col>
      <ion-col>
        <form (submit)="insertCell(currentCell)">
          <ion-input name="input" fill="outline" [(ngModel)]="currentCell.input"></ion-input>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="spreadsheet">
    <table>
      <thead>
      <tr>
        <th class="table-header small-cell"></th>
        <th class="table-header cell" *ngFor="let col of table.columns;let i = index">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear" size="small" color="success" (click)="insertColumn(col)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            {{i + 1}}
            <ion-buttons slot="end">
              <ion-button fill="clear" size="small" color="danger" (click)="deleteColumn(col)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </th>
        <ion-button color="primary" (click)=addColumn()>
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of table.rows;let r = index">
        <td class="table-header small-cell ">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear" size="small" color="success" (click)="insertRow(row)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            {{r + 1}}
            <ion-buttons slot="end">
              <ion-button fill="clear" size="small" color="danger" (click)="deleteRow(row)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </td>
        <td class="ion-text-right cell" (click)=selectCell(column,row)
            *ngFor="let column of table.columns; let c = index">
          <div *ngIf="currentCell.row === row && currentCell.column === column; else cellValue">
            <div class="selected">
              {{currentCell.input}}
            </div>
          </div>
          <ng-template #cellValue>
            {{ table.get({column: column, row: row})?.content }}
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ion-button color="primary" (click)=addRow()>
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
