.table-header {
  color: grey;
  text-align: center;
}

.small-cell {
  width: 120px;
}

.cell {
  width: 150px;
}

.selected {
  border: solid 5px black;
  min-height: 30px;
  min-width: 150px;
}

.spreadsheet {
  overflow-x: auto;

  table {
    table-layout: fixed;
    width: 100%;
  }

  td, th {
    border: solid 1px lightgray;
    height: 30px;
  }
}

