<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title size="large">eventual-consistent-spreadsheet</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>State</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label>Remote nodes: {{nodes.size}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Time: {{trackedTime}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Exchanged bytes: {{countedBytes}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Exchanged messages: {{countedMessages}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-button (click)="fillTable()">Fill table</ion-button>
              </ion-item>
              <ion-item>
                <ion-button (click)="clear()">Clear table</ion-button>
              </ion-item>
              <ion-item>
                <form (submit)="grow(growQuantity)">
                  <ion-input name="growInput" type="number" fill="outline" label="Grow"
                             [(ngModel)]="growQuantity"></ion-input>
                </form>
              </ion-item>
              <ion-item>
                <ion-label>Total bytes: {{totalBytes}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Received messages: {{receivedMessageCounter}}</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Sent messages: {{sentMessageCounter}}</ion-label>
              </ion-item>
              <ion-item lines="none">
                <ion-toggle justify="start" [(ngModel)]="isConnected">
                  <ion-title>Connected</ion-title>
                </ion-toggle>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto">
        <ion-title class="ion-padding-top">{{currentCell?.columnIndex}}|{{currentCell?.rowIndex}}</ion-title>
      </ion-col>
      <ion-col>
        <div *ngIf="currentCell !== undefined">
          <form (submit)="insertCell(currentCell!.address, input)">
            <ion-input name="eventual-consistent" fill="outline" [(ngModel)]="input"></ion-input>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="spreadsheet">
    <table>
      <thead>
      <tr>
        <th class="table-header small-cell"></th>
        <th class="table-header cell" *ngFor="let col of renderTable().columns;let i = index">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear" size="small" color="success" (click)="insertColumn(col)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            {{i + 1}}
            <ion-buttons slot="end">
              <ion-button fill="clear" size="small" color="danger" (click)="deleteColumn(col)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </th>
        <ion-button color="primary" (click)=addColumn()>
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of renderTable().rows;let r = index">
        <td class="table-header small-cell ">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button fill="clear" size="small" color="success" (click)="insertRow(row)">
                <ion-icon name="add"></ion-icon>
              </ion-button>
            </ion-buttons>
            {{r + 1}}
            <ion-buttons slot="end">
              <ion-button fill="clear" size="small" color="danger" (click)="deleteRow(row)">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </td>
        <td class="ion-text-right cell" (click)=selectCell(column,row)
            *ngFor="let column of renderTable().columns; let c = index">
          <div
            *ngIf="currentCell !== undefined && (currentCell!.address.row === row && currentCell!.address.column === column); else cellValue">
            <div class="selected">
              {{ renderTable().get({column: column, row: row})?.content }}
            </div>
          </div>
          <ng-template #cellValue>
            {{ renderTable().get({column: column, row: row})?.content }}
          </ng-template>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ion-button color="primary" (click)=addRow()>
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
