<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inconsistent">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>inconsistent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="consistent">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>consistent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="eventual-consistent">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>eventual consistent</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
